<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.smart.planner">

    <uses-feature
        android:name="android.hardware.camera"
        android:required="true" />

    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.READ_CONTACTS" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE" />

    <application
        android:allowBackup="false"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        tools:replace="android:allowBackup">
        <service
            android:name=".JobService.ReminderCheckIntentService"
            android:exported="false"></service>

        <activity android:name=".ForgotPassword" />
        <activity android:name=".SelectThemeActivity" />
        <activity android:name=".LocationActivity" />
        <activity android:name=".FocusActivity" />
        <activity android:name=".SignUp" />
        <activity android:name=".SignIn" />
        <activity android:name=".Main" />
        <activity android:name=".SplashScreen">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".TaskEditor" />
        <activity android:name=".EventEditor" />
        <activity android:name=".ProfileScreen" />

        <meta-data
            android:name="android.app.default_searchable"
            android:value=".SearchableActivity" />
        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="AIzaSyAH2qkVpH_ke5g5mVQ8sC6y1FYaEqiay6k" />

        <receiver android:name=".reminder.QuarterAlarmReceiver" />
        <receiver android:name=".reminder.OnBootComplete">
            <intent-filter>
                <action android:name="android.intent.action.TIME_TICK" />
            </intent-filter>
        </receiver>
        <receiver android:name=".reminder.NotificationReceiver" />
        <receiver android:name=".reminder.NotifyDismissReceiver" />
        <receiver
            android:name=".JobService.QuarterChecker" />

        <uses-library
            android:name="org.apache.http.legacy"
            android:required="false" />
    </application>

</manifest>